<section class="flex">
  <section class="grow lg:px-3">
    <!-- <div class="sticky top-14 my-2">
      <input
        [formControl]="search"
        pInputText
        type="search"
        placeholder="Search products"
        autofocus
      />
    </div> -->

    @let products = products$ | async;

    @if (products) {
      @if (products.length) {
        <div class="grid gap-4 grid-cols-2">
          @for (product of products; track product.id) {
            <app-sale-item
              (click)="
                addTocart({
                  quantity: 20,
                  product: product,
                  manufactureDate: '2024-06-01',
                  expiryDate: '2025-06-01',
                })
              "
              [stockItem]="{
                quantity: 20,
                product: product,
                manufactureDate: '2024-06-01',
                expiryDate: '2025-06-01',
              }"
            />
          }
        </div>
      } @else {
        <p class="text-center py-4 text-muted">No products</p>
      }
    } @else {
      <p class="text-center">Loading...</p>
    }
  </section>

  <div
    class="sticky top-15 min-w-3/10 bg-white shadow rounded-lg h-[calc(100vh-96px)] hidden lg:block"
  >
    <app-cart />
  </div>
</section>

<span class="lg:hidden">
  <p-button (click)="revealMobileCart()" icon="pi pi-shopping-cart" [text]="cart().length" />
</span>
