<section class="flex">
  <section class="grow lg:px-3">
    <!-- <div class="sticky top-14 my-2">
      <input
        [formControl]="search"
        pInputText
        type="search"
        placeholder="Search products"
        autofocus
      />
    </div> -->

    @let stock = stock$ | async;

    @if (stock) {
      @if (stock.length) {
        <div class="grid gap-4 grid-cols-2">
          @for (item of stock; track item.id) {
            <app-sale-item (click)="addTocart(item)" [stockItem]="item" />
          }
        </div>
      } @else {
        <p class="text-center py-4 text-muted">No products in stock</p>
      }
    } @else {
      <p class="text-center">Loading...</p>
    }
  </section>

  <div
    class="sticky top-15 min-w-3/10 bg-white shadow rounded-lg h-[calc(100vh-96px)] hidden lg:block"
  >
    <app-cart />
  </div>
</section>

<span class="lg:hidden">
  <p-button (click)="revealMobileCart()" icon="pi pi-shopping-cart" [text]="cart().length" />
</span>
