<section class="flex">
  <section class="grow lg:px-3">
    <!-- <div class="sticky top-14 my-2">
      <input
        [formControl]="search"
        pInputText
        type="search"
        placeholder="Search products"
        autofocus
      />
    </div> -->

    @let stock = stock$ | async;

    @if (stock) {
      @if (stock.length) {
        <div class="flex flex-col lg:grid lg:grid-cols-2 gap-4">
          @for (stockItem of stock; track stockItem.id) {
            <app-sale-item [productStockItem]="stockItem" />
          }
        </div>
      } @else {
        <p class="text-center py-4 text-muted">No products in stock</p>
      }
    } @else {
      <p class="text-center">Loading...</p>
    }
  </section>

  <div
    class="sticky top-15 min-w-3/10 bg-white shadow rounded-lg h-[calc(100vh-180px)] hidden lg:block"
  >
    <app-cart />
  </div>
</section>

<p-drawer
  header="Cart"
  [(visible)]="mobileCartVisible"
  position="bottom"
  [fullScreen]="true"
  styleClass="[&_.p-drawer-content]:p-0!"
>
  <app-cart />
</p-drawer>

<span class="lg:hidden fixed bottom-18 right-4 z-50">
  <button pButton severity="primary" (click)="revealMobileCart()" icon="pi pi-shopping-cart">
    {{ cart().length }}
  </button>
</span>
