<p-toast />
<p-confirmdialog />

<div class="flex items-center gap-4 mt-10 mb-6">
  <div class="grow">
    <h1 class="text-2xl font-bold text-gray-800">Products Stock</h1>
    <p class="text-gray-600">Manage your product's stock</p>
  </div>
  <p-button (click)="openDialog()">Record Stock</p-button>
</div>

<p-card>
  @let stock = stock$ | async;

  @if (stock) {
    <p-table [value]="stock" stripedRows showGridlines>
      <ng-template #header>
        <tr>
          <th>Product Name</th>
          <th>Manufacture on</th>
          <th>Expires on</th>
          <th>In Stock</th>
          <th style="width: 5rem">Actions</th>
        </tr>
      </ng-template>

      <ng-template #body let-stockItem>
        <tr>
          <td class="font-medium">{{ stockItem.product.name }}</td>
          <td>{{ stockItem.manufactureDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ stockItem.expiryDate | date: 'dd/MM/yyyy' }}</td>
          <td>
                {{ formatQuantity(stockItem.quantity, stockItem.product) }}
          </td>
          <td>
            <p-button
              (click)="deleteStockItem(stockItem)"
              icon="pi pi-trash"
              severity="danger"
              size="small"
              rounded
              pTooltip="Delete"
            />
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center py-8">
            <div class="text-gray-500">
              <i class="pi pi-inbox text-4xl mb-2"></i>
              <p>No stock recorded</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <div class="text-center py-8">
      <i class="pi pi-spin pi-spinner text-4xl text-blue-500"></i>
      <p class="text-gray-600 mt-2">Loading stock...</p>
    </div>
  }
</p-card>

<app-stock-add [(visible)]="dialogVisible" />