<p-toast />
<p-confirmdialog />

<div class="flex items-center gap-4 mt-10 mb-6">
  <div class="grow">
    <h1 class="text-2xl font-bold text-gray-800">Products Stock</h1>
    <p class="text-gray-600">Manage your product's stock</p>
  </div>
  <button (click)="openDialog()" pButton icon="pi pi-plus">Add Stock</button>
</div>

<p-card>
  <p-tabs #tabs value="Stock" class="-mt-4 mb-5">
    <p-tablist>
      <p-tab value="Stock">Stock</p-tab>
      <p-tab value="History">History</p-tab>
    </p-tablist>
  </p-tabs>

  @let productStock = productStock$ | async;
  @let stockRecords = stockRecords$ | async;

  @if (tabs.value() === 'Stock') {
    @if (productStock) {
      <p-table [value]="productStock">
        <ng-template #header>
          <tr>
            <th>Product Name</th>
            <th>In Stock</th>
          </tr>
        </ng-template>

        <ng-template #body let-stock>
          <tr>
            <td>{{ stock.product.name }}</td>
            <td>{{ stock.quantity | number }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">-- No stock --</ng-template>
      </p-table>
    } @else {
      <div class="text-center">loading...</div>
    }
  } @else {
    @if (stockRecords) {
      <p-table [value]="stockRecords">
        <ng-template #header>
          <tr>
            <th>Added On</th>
            <th>Product Name</th>
            <th>Manufactured on</th>
            <th>Expires on</th>
            <th>Quantity</th>
            <th style="width: 5rem"></th>
          </tr>
        </ng-template>

        <ng-template #body let-stockRecord>
          <tr>
            <td>{{ stockRecord.adjustedOn.seconds * 1000 | date }}</td>
            <td>{{ stockRecord.product.name }}</td>
            <td>{{ stockRecord.manufactureDate | date }}</td>
            <td>{{ stockRecord.expiryDate | date }}</td>
            <td>{{ stockRecord.quantity | number }}</td>
            <td>
              <button
                (click)="deleteStockRecord(stockRecord)"
                pButton
                pTooltip="Delete"
                tooltipPosition="top"
                icon="pi pi-trash"
                severity="secondary"
                rounded
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">-- No stock recorded --</ng-template>
      </p-table>
    } @else {
      <div class="text-center">loading...</div>
    }
  }
</p-card>

<app-stock-add [(visible)]="dialogVisible" />
