<p-menubar>
  <ng-template #end>
    <p-menu #menu [model]="items" [popup]="true" />

    <div (click)="menu.toggle($event)" class="flex items-center gap-2 cursor-pointer">
      @let currentUser = currentUser$ | async;
      <div>
        <div class="text-sm font-bold">{{ currentUser?.displayName }}</div>
        <div class="text-xs text-gray-400">{{ currentUser?.role }}</div>
      </div>

      <p-avatar [image]="currentUser?.photoURL || 'assets/img/avatar.svg'" shape="circle" />
    </div>
  </ng-template>
</p-menubar>
